@tailwind base;
@tailwind components;
@tailwind utilities;
@import "font";
* {
    margin: 0;
    padding: 0;
}

body, html {
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 500;
    font-family: "Pretendard", serif;
}
.row {
    display: flex;
    flex-direction: row;

}
.flex-nowrap {
    flex-wrap: nowrap;
}
.column {
    display: flex;
    flex-direction: column;
}
.flex-warp {
    flex-wrap: wrap;
}
#__nuxt, #__layout{
    height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    margin-bottom: 0;
}
ul, ol {
    list-style-position: inside;
    margin-bottom: 0;
}
ul {
    li {
        list-style: none;
    }
}

a,
a:hover,
a:focus {
    text-decoration: inherit;
    color: inherit;
}